
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



// .card.is-selected{
//   position: absolute;
//   left: 0 !important;
// }

///// header, search, toggle mobile view
  header{
  height: 50px;
  background-color: #170065;
  display: flex;
  flex-direction: column;
  align-items: center;
  & img{
    margin-top: 7.65px;
  }
}
.search{
  height: 125px;
  background-image: linear-gradient(#170065, #FFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  .search-field {
    width: 88%;
    
    & > input {
      width: 100%;
      height: 40px;
      border-radius: 8px;
      color: #9B9B9B;
      font-weight: 900;
      font-size: 14px;
      padding-left: 15px;
    }
  }
}

.toggles{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 5%;
  & h3 {
    color: #020064;
    font-weight: 400;
    font-size: 11px;
  }
  & button{
    width: 102px;
    height: 36px;
    color: #020064;
    font-weight: 900;
    font-size: 10px;
    border-radius: 6px;
    &:nth-child(2){
      margin-left: 10px;
    }
    &:nth-child(3){
      margin-left: 10px;
    }
    
    &:hover{
      cursor: pointer;
    }
    &.button-active{
      background-color: #170065;
      color: white;
    }
  }
}

///// header, search, toggle 1440px view


@media screen and ( min-width: 376px ) {
  header{
  height: 75px;
  background-color: #170065;
  display: flex;
  flex-direction: column;
  align-items: center;
  & img{
    margin-top: 10px;
  }
}
.search{
  height: 176px;
  background-image: linear-gradient(#170065, #FFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .search-field {
    width: 88%;
    
    & > input {
      width: 100%;
      height: 60px;
      border-radius: 8px;
      color: #9B9B9B;
      font-weight: 900;
      font-size: 18px;
      padding-left: 20px;
    }
  }
}

.toggles{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 5%;
  & h3 {
    color: #020064;
    font-weight: 400;
    font-size: 14px;
  }
  & button{
    width: 110px;
    height: 44px;
    color: #020064;
    font-weight: 900;
    font-size: 12px;
    border-radius: 6px;
    &:nth-child(2){
      margin-left: 22px;
    }
    &:nth-child(3){
      margin-left: 20px;
    }
    
    &:hover{
      cursor: pointer;
    }
    &.button-active{
      background-color: #170065;
      color: white;
    }
  }
}
}


///// slider mobile view

.slider-view{
  .flickity-slider {
    left: 52px !important; 
  }
  &.next-button-options{
      .flickity-prev-next-button.next {
          display: block;
      }
    }
  & > h1{
    margin-left: 52px;
    margin-bottom: 30px;
    color: #020064;
    font-weight: 900;
    font-size: 18px;
  }
  .card{
    margin-right: 20px;
    & > img{
      width: 269px;
      height: 152px;
      border-radius: 8px;
    }
    & > div {
      width: 269px;
      & h2 {
        font-weight: normal;
        color: #020064;
        font-size: 14px;
      }
      & p {
        margin-top: -5px;
        font-weight: bold;
        color: #020064;
        font-size: 18px;
        width: 100%;
      }
    }
  
}
}


///// slider 1440px view
@media screen and ( min-width: 376px ) {
  .slider-view{
    .flickity-slider {
      left: 86px !important; 
    }
    &.next-button-options{
      .flickity-prev-next-button.next {
          display: none;
      }
    }
    & > h1{
      margin-left: 86px;
      margin-bottom: 40px;
      color: #020064;
      font-weight: 900;
      font-size: 24px;
    }
    .card{
      margin-right: 19px;
    & > img { 
      width: 302px;
      height: 171px;
    }
    & > div {
      width: 302px;
        h2 {
        font-weight: normal;
        color: #020064;
        font-size: 14px;
      }
      & p{
        margin-top: -5px;
        font-weight: bold;
        color: #020064;
        font-size: 18px;
        width: 100%;
      }
    } 
  } 
  }
  
}

///// list mobile view
  .list-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h1{
      align-self: self-start;
      margin-left: 25px;
      margin-bottom: 30px;
      color: #020064;
      font-weight: 900;
      font-size: 18px;
    }
    & .card {
      width: 328px;
      height: 100px;
      display: flex;
      margin-bottom: 20px;
      & > img {
        width: 177px;
        height: 100px;
        border-radius: 8px;
      }
      & > div {
        width: 140px;
        padding-left: 10px;
        & h2 {
          margin-top: 0px;
          font-weight: normal;
          color: #020064;
          font-size: 14px;
        }
        & p{
          margin-top: -8px;
          font-weight: bold;
          color: #020064;
          font-size: 12px;
          width: 100%;
        }
      }
    }
  }

///// list 1440px view
  @media screen and ( min-width: 376px ) {
    .list-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h1{
      align-self: auto;
      margin-bottom: 40px;
      color: #020064;
      font-weight: 900;
      font-size: 24px;
    }
    & .card {
      width: 476px;
      height: 125px;
      display: flex;
      margin-bottom: 20px;
      & > img {
        width: 221.53px;
        height: 125px;
        border-radius: 8px;
      }
      & > div {
        width: 244px;
        padding-left: 10px;
        & h2 {
          margin-top: 0px;
          font-weight: normal;
          color: #020064;
          font-size: 14px;
        }
        & p{
          margin-top: -5px;
          font-weight: bold;
          color: #020064;
          font-size: 18px;
          width: 100%;
        }
      }
    }
  }
  }
  
